html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

.chunk-finders-tn-amethyst-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 0;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-ancient-city-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -22px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-biome-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -44px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-buried-treasure-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -66px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-cave-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -88px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-desert-temple-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -110px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-desert-well-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -132px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-dungeon-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -154px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-end-city-icon-ship_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -198px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-end-city-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -176px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-end-gateway-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -220px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-fossil-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -242px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-golden-apple-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -264px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-igloo2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -286px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-jungle-temple-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -308px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-lava-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -330px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-mansion3-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -352px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-mineshaft2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -374px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-nether-fortress2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -396px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-ocean-monument2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -418px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-ocean-ruin-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -440px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-ore-vein-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -462px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-piglin-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -484px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-pillager-outpost2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -506px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-ravine-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -528px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-ruined-portal-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -550px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-shipwreck2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -572px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-slime-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -594px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-spawn-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -616px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-stronghold-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -638px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-trail-ruin-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -660px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-trial-chamber-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -682px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-village2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -704px;
    width: 22px;
    height: 22px
}

.chunk-finders-tn-witch-hut2-icon_22 {
    background-image: url(https://www.chunkbase.com/img/pages/chunk-finders-tn-15.png);
    background-position: 0 -726px;
    width: 22px;
    height: 22px
}
